                                                        /* Paragraph styling */

p.meta { color: #707070; font-size: 10px; text-align: right; }
p#footer-text { text-align: center; }
div#message p { color: #4d4d4d; line-height: 20px; }

                                                        /* Link styling */
a {
    color: #3d550a;
    text-decoration: none;
}
a:hover { color: #66cc00; text-decoration: none; }

p#action-bar a { color: #336600; }
p#action-bar a:hover { color: #66cc00; text-decoration: none; }

div#status-bar {
    background: url('../img/Header1.png') repeat-x;
    border-bottom: 0 groove #ffffff;
    height: 200px;
    width: 100%;
}

div#logo-container {
    margin: 10px auto 1px auto;
    width: 800px;
    height: 100px;
}

div#status-bar-content {
    margin: 10px auto 1px auto;
    width: 800px;
}

div#logo {
	width: 300px;
	margin-top: 1px;
}

div#main {
    width: 800px;
}

div#content {
    margin: 10px auto 1px auto;
    width: 800px;
}

div#left {
	width: 250px;
	float: left;
	
}

div#main-content {
	width: 550px;
	float: left;
}
