<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Autostation</display-name>

	<servlet>
		<servlet-name>Driver</servlet-name>
		<servlet-class>ua.pogodin.webapp.servlet.Driver</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Driver</servlet-name>
		<url-pattern>/driver</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Trips</servlet-name>
		<servlet-class>ua.pogodin.webapp.servlet.ShowTrips</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trips</servlet-name>
		<url-pattern>/trips</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserManagement</servlet-name>
		<servlet-class>ua.pogodin.webapp.servlet.UserManagement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagement</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>ua.pogodin.webapp.servlet.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>ua.pogodin.webapp.servlet.Dispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/dispatcher</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>ua.pogodin.webapp.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>ua.pogodin.webapp.servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<ejb-local-ref>
        <ejb-ref-name>AccountManagmentLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ua.pogodin.webapp.dao.DbConnection</local>
    </ejb-local-ref>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- <login-config> <auth-method>FORM</auth-method> <realm-name>autoStation</realm-name> 
		<form-login-config> <form-login-page>/jsp/login.jsp</form-login-page> <form-error-page>/error.jsp</form-error-page> 
		</form-login-config> </login-config> <security-constraint> <login-config> 
		<auth-method></auth-method> <realm-name></realm-name> </login-config> </security-constraint> -->


</web-app>
